{% extends "mgsapp/base.html" %}
{% block content %}
  <div class="container-fluid">
        <div class="row">
        <div class="col-12 contone">
        <div class="flex-center flex-column">
            <h3 class="animated fadeIn mb-4 white-text">Site Under Construction</h3>
            <button type='button' class="btn btn-pink animated fadeIn mb-4">Get Started</button>

            <h5 class="animated fadeIn mb-3 white-text">Thank you for using our product. We're glad you're with us.</h5>
            <button class="btn btn-purple btn-rounded animated fadeIn mb-3">Purple</button>

            <p class="animated fadeIn text-muted yellow-text">Queboid Team</p>
           
        </div>
        </div>
        <div class="col-sm-6 col-md-4 conttwo">
        <div class="flex-center flex-column">
            <h3 class="animated fadeIn mb-4 white-text">Site Under Construction</h3>
            <button type='button' class="btn btn-pink animated fadeIn mb-4">Get Started</button>

            <h5 class="animated fadeIn mb-3 white-text">Thank you for using our product. We're glad you're with us.</h5>
            <button class="btn btn-purple btn-rounded animated fadeIn mb-3">Purple</button>

            <p class="animated fadeIn text-muted white-text">Queboid Team</p>
        </div>
        </div>

        <div class="col-sm-6 col-md-4 contthree">
        <div class="flex-center flex-column">
            <h3 class="animated fadeIn mb-4 white-text">Site Under Construction</h3>
            <button type='button' class="btn btn-pink animated fadeIn mb-4">Get Started</button>

            <h5 class="animated fadeIn mb-3 white-text">Thank you for using our product. We're glad you're with us.</h5>
            <button class="btn btn-purple btn-rounded animated fadeIn mb-3">Purple</button>

            <p class="animated fadeIn text-muted white-text">Queboid Team</p>
        </div>
        </div>

        <div class="col-sm-12 col-md-12 contfour">
        <div class="flex-center flex-column">
            <h3 class="animated fadeIn mb-4 white-text">Site Under Construction</h3>
            <button type='button' class="btn btn-pink animated fadeIn mb-4">Get Started</button>

            <h5 class="animated fadeIn mb-3 white-text">Thank you for using our product. We're glad you're with us.</h5>
            <button class="btn btn-purple btn-rounded animated fadeIn mb-3">Purple</button>

            <p class="animated fadeIn text-muted white-text">Queboid Team</p>
        </div>
        </div>
    
    </div>

{% endblock %}
